body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
    background-image: url('C:\Local Business Dashboard\Frontend\dashboard\bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: transparent;
 
  box-shadow: 0 0 8px rgba(255, 242, 242, 0.627);
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #ee3a40;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c5014f;
}

.card {
  margin-top: 20px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
